body
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.0em;
  color:black;
  background-color:#ddd;
}
h1
{
  margin:.3em; 0px;
}
#body_content_left
{
  width:590px;
}
#body_content_right
{
  width:390px;
}
a {color:black;}
#page
{
  background-color:white;
  margin-left:60px;
  margin-right:60px;
  border-left:1px solid #333;
  border-right:1px solid #333;
}
#header form
{
  position:relative;
  top:50px;
  left:800px;
}
#header
{
  color:black;
  background-color:white;  
  padding-left:10px;
  padding-right:10px;
}
#body
{
  color:black;
  background-color:white;
  padding-left:10px;
  padding-right:10px;
}

#search
{
  float:right;
}
#footer
{
  color:black;
  background-color:#555;
  padding:1em;
  padding-left:10px;
  padding-right:10px;
}

#footer ul li ul
{
  float:none;
}
#footer #menu ul li ul li
{
  display: block;
  float:none;
}

#header #menu *
{
  color:white;
}

#header #menu ul li a {
			display:block; 
			padding:8px 5px 0 5px; 
			font-weight:700;  
			height:23px; 
			text-decoration:none; 
			color:#fff; 
			text-align:center; 
			color:#333;
} 

#header #menu ul li
{
  float:left;
  width:100px; 
  background:#ccc; 
  position:relative;
  z-index:500; 
  margin:0 1px;
  
}

#header #menu ul li ul
{
  display:none;
  float:none;
  position:absolute;
  margin:0 0 0 -1px; 
  padding:0;
  left:0;  
}

#header #menu ul li ul li
{
  display: block;
  width:100px; 
  float:left; 
	border-top:1px solid #fff;
}

#header #menu ul li ul li a {
			display:block;  
			height:15px;
			padding: 8px 5px; 
			color:#666;
		}

#search_results
{
  margin-top:40px;
  margin-bottom:40px;
}