body
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  color:black;
  background-image:url('images/background.jpg');
  background-repeat:repeat-x;
  background-color:#1ff11f;
}
#header
{
  color:black;
  background-color:white;
  padding:1em;
}
#content
{
  color:black;
  background-color:white;
}

#search
{
  position:absolute;
  right:5px;
}
#footer
{
  color:black;
  background-color:white;
  padding:1em;
}
