body
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  color:black;
  background-image:url('images/background.jpg');
  background-repeat:repeat-y;
}
#header
{
  color:white;
  background-color:black;
}

#search
{
  position:absolute;
  right:5px;
}
#footer
{
  color:white;
  background-color:black;
}
